HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/resources/password/
/src/main/resources/password.properties
/src/main/resources/pass.properties
/src/main/java/com/rubnikovich/provider/util/Password.java
/src/main/java/com/rubnikovich/provider/util/CustomPassword.java
/src/main/java/com/rubnikovich/provider/oldconf/

