<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${user.getFirstName() + ', ' + user.getLastName()}">VALUE</p>
<p th:text="${'email: ' + user.getEmail()}">VALUE</p>
<p th:text="${'id: ' + user.getId()}">VALUE</p>
<p th:text="${'role: ' + user.getRole()}">VALUE</p>
<a th:href="@{/user/{id}/edit(id=${user.getId()})}">Edit</a>
<p th:text="${'current plan: ' + (user.getOperations().isEmpty() ? 'no current plan' : user.getOperations().getLast().getPlan().getPlanName())}">VALUE</p>
<p th:text="${'active from: ' + (user.getOperations().isEmpty() ? 'no current plan' : user.getOperations().getLast().getEndTime())}">VALUE</p>
<p th:text="${'active until: ' + (user.getOperations().isEmpty() ? 'no current plan' :user.getOperations().getLast().getStartTime())}">VALUE</p>

<br/>
<br/>

<form th:method="DELETE" th:action="@{/user/{id}(id=${user.getId()})}">

    <input type="submit" value="Delete"/>
</form>
</body>
</html>
