<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new operation</title>
</head>
<body>
<a th:href="@{/}" class="button-link">
    <h1>RBNK provider</h1>
</a>
<form th:method="POST" th:action="@{/user}" th:object="${user}">
    <label for="login">Enter login: </label>
    <input type="text" th:field="*{login}" id="login"/>
    <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login Error</div>
    <br/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    <br/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br/>
    <br/>
    <label for="firstName">Enter First Name: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</div>
    <br/>
    <br/>
    <label for="lastName">Enter Last Name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</div>
    <br/>
    <br/>
    <br/>
    <input type="submit" value="sing up"/>
</form>

</body>
</html>
